doctype html
html(lang-en)
    head
    link(rel="stylesheet", type="text/css", href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js")
    body
        div#container
            h2 Book Details
            div
                form.form-horizontal
                    div.form-group
                        label(class='col-sm-2 control-label') Book ISBN:
                        div.col-sm-10
                            p.form-control-static= book.isbn
                   div.form-group
                        label(class='col-sm-2 control-label') Name:
                        div.col-sm-10
                            p.form-control-static= book.name

                   div.form-group
                        label(class='col-sm-2 control-label') Book ISBN:
                        div.col-sm-10
                            p.form-control-static= book.author

                   div.form-group
                        label(class='col-sm-2 control-label') Book ISBN:
                        div.col-sm-10
                            p.form-control-static= book.price
